{% set css %}
  {% include "site.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en" class="{{ page.fileSlug or 'home' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ site.url + page.url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url + page.url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ socialImage }}" />
    <meta name="twitter:image" content="{{ socialImage }}" />
    <meta property="og:image:alt" content="Page image for {{ title }}" />
    <meta name="twitter:image:alt" content="Page image for {{ title }}" />

    <meta name="description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <link rel="stylesheet" href="/fonts/dm-sans/stylesheet.css" />
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
