:root {
  --step--2: clamp(0.8rem, calc(0.67rem + 0.11vw), 0.69rem);
  --step--1: clamp(1rem, calc(0.8rem + 0.17vw), 0.83rem);
  --step-0: clamp(1rem, calc(0.95rem + 0.25vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.13rem + 0.36vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.34rem + 0.51vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.59rem + 0.71vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.88rem + 0.98vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.22rem + 1.33vw), 3.82rem);

  --space-3xs: clamp(0.25rem, calc(0.24rem + 0.06vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.13vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.95rem + 0.25vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.43rem + 0.38vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.9rem + 0.5vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.85rem + 0.75vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.8rem + 1vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.7rem + 1.5vw), 7.5rem);

  --space-3xs-2xs: clamp(0.25rem, calc(0.18rem + 0.38vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.41rem + 0.44vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.65rem + 0.5vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.83rem + 0.88vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.3rem + 1vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.65rem + 1.75vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.6rem + 2vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.3rem + 3.5vw), 7.5rem);

  --space-s-l: clamp(1rem, calc(0.7rem + 1.5vw), 2.5rem);

  --base-spacing: var(--space-m-l);
  --border-radius: 0.75rem;
  --base-color: #132a21;
  --icon-color: var(--base-color);
}

/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--base-color);
}

body {
  font-family: 'DM Sans', system-ui;
  font-size: var(--step-0);
  line-height: 1.618;
  color: var(--base-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  color: var(--base-color);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.1rem;
  color: #3251f6;
}

h1 {
  font-size: var(--step-4);
  letter-spacing: -0.05em;
  line-height: 1.25;
}

p {
  max-width: 50ch;
}

img,
svg {
  max-width: 100%;
}

.background-splodges {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

/* Utilities */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Home */

.home body {
  padding: 0 var(--base-spacing);
}

.home-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  grid-gap: var(--base-spacing);
  margin: var(--space-2xl-3xl) 0;
}

.home-header__text {
  grid-column: 2 / 6;
  display: flex;
  flex-direction: column;
  gap: var(--space-l-xl);
}

.home-header__text h1 {
  text-indent: -0.4em;
  max-width: 16ch;
}

.home-header__flower {
  width: 50%;
  grid-column: 6 / 8;
  place-self: center;
}

.posters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--base-spacing);
}

.posters li {
  --border-color: #f6f6f6;

  width: 100%;
}

.posters li:focus-within {
  --border-color: '#000';
}

.posters li img {
  display: block;
  aspect-ratio: 3 / 4;
  box-shadow: 0px 0px 16px 0px hsla(0, 100%, 0%, 0.025),
    2px 2px 6px 0px hsla(0, 100%, 0%, 0.025);
  border-radius: var(--border-radius);
}

.posters__info-card {
  border-radius: var(--border-radius);
  aspect-ratio: 3 / 4;
}

.posters__info-card-inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: var(--base-spacing);
  text-align: center;
  font-weight: 700;
}

.home-footer {
  height: var(--space-3xl);
  display: grid;
  place-items: center;
  margin: var(--space-m) 0;
}

/* Poster Page */

html.poster-page {
  height: -webkit-fill-available;
}

.poster-page body {
  display: grid;
  place-items: center;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

.poster-page {
  --shadow-color: hsla(0, 100%, 0%, 0.05);
}

.poster-page__header {
  position: absolute;
  top: var(--base-spacing);
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr var(--space-l);
  place-items: center;
  padding: 0 var(--base-spacing);
}

.poster-page__header .spinning-flower {
  grid-row: 1;
  grid-column: 3;
}

.poster-page__header a {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  text-decoration-thickness: 0.125rem;
  color: var(--base-color);
}

.poster-page main img {
  aspect-ratio: 3 / 4;
  width: auto;
  height: 80vmin;
  box-shadow: 8px 10px 32px 0px var(--shadow-color);
  border-radius: var(--border-radius);
}

.poster-page__footer {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr var(--space-s-m);
  bottom: var(--base-spacing);
  left: 0;
  padding: 0 var(--base-spacing);
}

.poster-page__footer-stem {
  height: var(--space-l);
}

.poster-page__footer a {
  width: 100%;
  grid-column: 3;
  place-self: center;
}

.poster-page__footer a svg {
  display: block;
}

@media only screen and (max-width: 64rem) {
  .posters {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-header {
    grid-template-columns: repeat(6, 1fr);
  }

  .home-header__text {
    grid-column: 1 / 5;
  }

  .home-header__flower {
    grid-column: 5 / 7;
  }
}

@media only screen and (max-width: 48rem) {
  .homer-header {
    margin-top: var(--base-spacing);
    grid-gap: 0;
  }

  .home-header__flower {
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);
    width: var(--space-l);
  }

  .posters {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-header__text {
    grid-column: -1 / 1;
    margin-top: calc(var(--space-2xl-3xl));
  }
}

@media only screen and (max-width: 24rem) {
  .posters {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .spinning-flower {
    will-change: transform;
    animation: rotate 24s linear infinite;
  }

  .posters li:not(.posters__info-card) {
    transition: transform 150ms ease-in-out;
  }

  .posters li:focus-within {
    transform: translateY(-1%);
  }

  .posters li:not(.posters__info-card):hover {
    transform: translateY(-2%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
