/* Home */

.home-header {
  margin: var(--space-3xl) 0;
}

/* TODO - implement stack here? */

.home-header h1 {
  text-indent: -0.4em;
  max-width: 16ch;
}

.home-header a {
  display: block;
}

.home-header__flower {
  position: absolute;
  inset: var(--base-rhythm) var(--base-rhythm) auto auto;
  width: var(--space-l);
}

/* 
  Note: Both this element and the header previously used a strict 12 column grid,
  I found this rather brittle and required lots of additional media queries to handle 
  viewport changes! 
*/

.posters {
  --grid-gap: var(--base-rhythm);
  --grid-min-item-size: 16rem;
  --grid-min-columns: 2;
}

.posters__generation {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: var(--border-radius);
  border: 1px solid var(--green-light);
  overflow: hidden;
}

.posters__info-card-inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: var(--base-rhythm);
  text-align: center;
  font-weight: 700;
}

.home-footer {
  padding: var(--space-2xl) 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .posters li:not(.posters__info-card) {
    transition: transform 150ms ease-in-out;
  }

  .posters li:focus-within {
    transform: translateY(-1%);
  }

  .posters li:not(.posters__info-card):hover {
    transform: translateY(-2%);
  }
}
