html:focus-within {
  scroll-behavior: smooth;
}

body {
  --base-rhythm: var(--space-m-l);

  --color-body-background: #fff;
  --color-text: var(--green-dark);
  --color-text-accent: var(--blue-base);

  padding: 0 var(--base-rhythm);
  background: var(--color-body-background);
  font-family: 'DM Sans', system-ui;
  font-size: var(--step-1);
  color: var(--color-text);
  line-height: var(--leading-normal);
  text-rendering: optimizeSpeed;
}

a {
  color: var(--color-text-accent);
}

:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 0.25rem;
}

h1,
h2 {
  line-height: var(--leading-tight);
  letter-spacing: -0.05em;
  font-weight: 700;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

p {
  max-width: 52ch;
}

/* Note: It would be good to introduce a dark mode toggle to give folks the choice */
@media (prefers-color-scheme: dark) {
  body {
    --color-body-background: var(--green-dark);
    --color-text: var(--green-light);
    --color-text-accent: var(--pink-base);
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
