body {
  --base-rhythm: var(--space-m-l);

  --body-background-color: #fff;
  --text-color: var(--green-dark);

  padding: 0 var(--base-rhythm);
  background: var(--body-background-color);
  font-family: 'DM Sans', system-ui;
  font-size: var(--step-1);
  color: var(--text-color);
  line-height: var(--leading-normal);
  text-rendering: optimizeSpeed;
}

a {
  color: var(--text-color);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.1rem;
}

h1,
h2 {
  line-height: var(--leading-tight);
  letter-spacing: -0.05em;
  font-weight: 700;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

p {
  max-width: 52ch;
}

/* Note: It would be good to introduce a dark mode toggle to give folks the choice */
@media (prefers-color-scheme: dark) {
  body {
    --body-background-color: var(--green-dark);
    --text-color: var(--green-light);
  }
}
