/* Home */

.home body {
  padding: 0 var(--base-spacing);
}

.home-header {
  margin: var(--space-2xl-3xl) 0;
}

/* TODO - implement stack here? */

.home-header__text {
  display: flex;
  flex-direction: column;
  gap: var(--space-l-xl);
}

.home-header__text h1 {
  text-indent: -0.4em;
  max-width: 16ch;
}

.home-header__flower {
  width: 50%;
}

/* 
  Note: Both this element and the header previously used a strict 12 column grid,
  I found this rather brittle and required lots of additional media queries to handle 
  viewport changes! 
*/

.posters {
  --grid-gap: var(--base-spacing);
  --grid-min-item-size: 16rem;
  --grid-min-columns: 2;
}

.posters li {
  --border-color: #f6f6f6;

  width: 100%;
}

.posters li:focus-within {
  --border-color: '#000';
}

.posters li img {
  display: block;
  aspect-ratio: 3 / 4;
  box-shadow: 0px 0px 16px 0px hsla(0, 100%, 0%, 0.025),
    2px 2px 6px 0px hsla(0, 100%, 0%, 0.025);
  border-radius: var(--border-radius);
}

.posters__info-card {
  border-radius: var(--border-radius);
  aspect-ratio: 3 / 4;
}

.posters__info-card-inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: var(--base-spacing);
  text-align: center;
  font-weight: 700;
}

.home-footer {
  display: grid;
  place-items: center;
  margin: var(--space-m) 0;
  padding: var(--space-xl) 0;
}

@media only screen and (max-width: 48rem) {
  .home-header__flower {
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);
    width: var(--space-l);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .posters li:not(.posters__info-card) {
    transition: transform 150ms ease-in-out;
  }

  .posters li:focus-within {
    transform: translateY(-1%);
  }

  .posters li:not(.posters__info-card):hover {
    transform: translateY(-2%);
  }
}
