---
permalink: "/css/theme.css"
---

{# 
  Note: Potential DX issue - CSS syntax highlighting/linting is disabled in this file!
  Note: Potential DX issue - Some congnitive overhead could be introduced by 
  mixing .njk and .css files together in one directory.
#}

:where(html) {
  --green-dark: {{ tokens.colors.greenDark }};
  --green-base: {{ tokens.colors.greenBase }};
  --green-light: {{ tokens.colors.greenLight }};
  --red-base: {{ tokens.colors.redBase }};
  --yellow-base: {{ tokens.colors.yellowBase }};
  --pink-base: {{ tokens.colors.pinkBase }};
}
