/* 
  AUTO GRID

  TODO - add description here

  Custom properties and configuration: 

  TODO - add custom properties here
*/

.auto-grid {
  --grid-gap: var(--space-m);
  --grid-min-item-size: 8rem;
  --grid-min-columns: 1;

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        100% / var(--grid-min-columns) - var(--grid-gap),
        var(--grid-min-item-size)
      ),
      1fr
    )
  );
}
