---
eleventyComputed:
  title: "{{ site.name }}"
  socialImage: "{{ site.url }}/og-image.png"
metaDesc: A peculiar little website that will create a generative poster design every day until the summer solstice.
pageCSS: ['home.css']
layout: layouts/base.njk
---

<img class="background-splodges" src="/background-splodges.svg" alt=""/>

<header class="home-header">
  <div class="home-header__text">
    <h1>“Garden”</h1>
    <h2>Generative Posters</h2>
    <p>
      Hey! Welcome to Garden — a peculiar little website that will create a generative poster design every day until the summer solstice. 
      It runs on Eleventy + Netlify + Puppeteer and <strong>ships 0 lines of JavaScript.</strong>
    </p>
    <a href="https://github.com/georgedoescode/garden-jamstack-posters" target="_blank">
      Browse the repository on GitHub!
    </a>
  </div>
  <div class="home-header__flower">
    {% svg "./src/img/flower.svg", "spinning-flower", "aria-hidden='true'" %}
  </div>
</header>

<main>
  <ul class="posters auto-fit-grid">
    <li class="posters__info-card">
      <div class="posters__info-card-inner">
        <p>Next Poster Generation — {{ site.tomorrowsDateText }}</p>
      </div>
    </li>
    {% for poster in posters %}
      <li class="posters__generation">
        <a href="/generations/{{ poster.seed }}/">
          <div class="visually-hidden">Poster generated on {{ poster.seed }}</div>
          <img 
            src="/generations/{{ poster.seed }}/poster.svg" 
            alt=""
            loading="lazy"
          />
        </a>
      </li>
    {% endfor %}
  </ul>
</main>

<footer class="home-footer">
  <p>Made by <a href="https://twitter.com/georgedoescode" target="_blank">George Francis</a>
  </p>
</footer>