---
eleventyComputed:
  title: "{{ poster.seed }}"
  socialImage: "{{ site.url }}/og-images/{{ poster.seed }}.png"
metaDesc: A peculiar little website that will create a generative poster design every day until the summer solstice.
pageClass: "poster"
pageCSS: ['poster-page.css']
layout: layouts/base.njk
pagination:
  data: posters
  size: 1
  alias: poster
permalink: "generations/{{ poster.seed }}/index.html"
---

{# Note: Potential SEO issue - These pages are not very content rich and might not do wonders for SEO!  #}

{# Background decorative splodges #}
<img class="background-splodges" src="/background-splodges.svg" alt="" />

{# Navigation #}
<nav class="poster-page__header">
  {% svg "./src/images/illustrations/flower.svg", "spinning-flower", "aria-hidden='true'" %}
  <a href="/">View all posters</a>
</nav>

{# Poster generation #}
<main>
  <img 
    src="./poster.svg" 
    alt="A collection of abstract, 2-dimensional flowers and plants arranged at random to form a poster design"
  >
</main>

{# Footer #}
<footer class="poster-page__footer">
  {% svg "./src/images/illustrations/stem.svg", "poster-page__footer-stem", "aria-hidden='true'" %}
  <a href="http://twitter.com/share?url={{site.url}}/generations/{{poster.seed}}/" target="_blank" title="Share on twitter">
    {% svg "./src/images/icons/twitter-icon.svg", "", "aria-hidden='true'" %}
  </a>
</footer>
