---
permalink: "/css/theme.css"
---

{# 
  Note: Potential DX issue - CSS syntax highlighting/linting is disabled in this file! 
#}

:root {
  --green-dark: {{ tokens.colors.greenDark }};
  --green-base: {{ tokens.colors.greenBase }};
  --red-base: {{ tokens.colors.redBase }};
  --yellow-base: {{ tokens.colors.yellowBase }};
  --pink-base: {{ tokens.colors.pinkBase }};
}
